pipeline/append_variable_activity.json
{
	"name": "append_variable_activity",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "persons_dtls",
					"value": [
						{
							"person_id": 101,
							"person_name": "srinivas"
						},
						{
							"person_id": 102,
							"person_name": "phani"
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('persons_dtls')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "person_name",
								"value": {
									"value": "@item().person_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "names_lst",
								"value": {
									"value": "@variables('person_name')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "msg",
					"value": {
						"value": "@concat('persons names are',variables('names_lst'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"persons_dtls": {
				"type": "Array"
			},
			"person_name": {
				"type": "String"
			},
			"names_lst": {
				"type": "Array"
			},
			"msg": {
				"type": "String"
			}
		},
		"annotations": []
	}
}